language: php

sudo: false

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
  include:
    - php: 7.1
    - php: 7.1
      env: deps=low
    - php: nightly
    - php: nightly
      env: deps=low

before_install:
  - phpenv config-rm xdebug.ini

install:
  # install dependencies
  - if [[ $deps = low ]]; then composer update --no-interaction --prefer-lowest; fi
  - if [[ !$deps ]]; then composer install --no-interaction ; fi

script:
  - ./vendor/bin/behat -c src/Component/Server/behat.yml -v
  - ./vendor/bin/behat -c src/Bundle/Server/behat.yml -v
