{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "exclude": [
            "Component\/*\/*\/Tests",
            "Component\/*\/Tests",
            "Bundle\/*\/Tests"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
