parameters:
    level: 7
    paths:
        - src
    excludes_analyse:
        - %currentWorkingDirectory%/src/*Bundle/Tests/*
        - %currentWorkingDirectory%/src/Component/*/Tests/*
    ignoreErrors:
        - '#Parameter .* of method .* expects Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition, Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition given.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::(.*)\(\)#'
        - '#Return type .* of method .* should be covariant with return type .* of method .*#'
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface|null\.#'
        - '#Variable property access on \$this\(OAuth2Framework\\SecurityBundle\\Annotation\\OAuth2\)\.#'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
