<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="vendor/autoload.php"
        colors="true"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./.github</directory>
      <directory>./tests</directory>
      <directory>./var</directory>
      <directory>./vendor</directory>
      <directory>./ecs.php</directory>
      <directory>./rector.php</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Components Test Suite">
      <directory>./tests/Component</directory>
    </testsuite>
    <testsuite name="Security Bundle Test Suite">
      <directory>./tests/SecurityBundle</directory>
    </testsuite>
    <testsuite name="WebFinger Bundle Test Suite">
      <directory>./tests/WebFingerBundle</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="KERNEL_CLASS" value="OAuth2Framework\Tests\AppKernel"/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9"/>
    <ini name="intl.error_level" value="0" />
    <ini name="memory_limit" value="-1" />
  </php>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
