{% spaceless %}
<head>
    <title>Authorization Form</title>
    <meta name="referrer" content="origin"/>
    <script type="text/javascript">function submitform() {document.forms[0].submit();}</script>
</head>
{% endspaceless %}
